__pycache__

.venv

cache

checkpoints/checkpoint.pth

getmusic/__pycache__
getmusic/data/__pycache__
getmusic/distributed/__pycache__
getmusic/engine/__pycache__
getmusic/modeling/__pycache__
getmusic/utils/__pycache__

results

testdata/test_short.wav
testdata/test11.wav

testoutput

docker_setup.md
dockerfile_orig.txt

hello.py

melody.mid

raw_midi.mid
tmp.mid
