__pycache__

.venv

cache

checkpoints/checkpoint.pth

getmusic/__pycache__
getmusic/data/__pycache__
getmusic/distributed/__pycache__
getmusic/engine/__pycache__
getmusic/modeling/__pycache__
getmusic/utils/__pycache__

results

testdata/test_short.wav
testdata/test11.wav
testdata/test_changetempo.mid
testdata/conditional_chords.mid
testdata/sixteenth_times_and_countings.json
testdata/test_repeat.wav

testoutput

docker_setup.md
dockerfile_orig.txt

hello.py

melody_generation_old.py

melody.mid

raw_midi.mid
tmp.mid
